<h1>Portfolios</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Portfolio</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Number</th>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Balance</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let portfolio of portfolios">
            <td>{{portfolio.number}}</td>
            <td>{{portfolio.name}}</td>
            <td>{{portfolio.balance}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{portfolio.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deletePortfolio(portfolio.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="portfolio.isDeleting">
                    <span *ngIf="portfolio.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!portfolio.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
<!--        <tr *ngIf="!portfolios">-->
<!--            <td colspan="4" class="text-center">-->
<!--                <span class="spinner-border spinner-border-lg align-center"></span>-->
<!--            </td>-->
<!--        </tr>-->
    </tbody>
</table>
